<h1> Are you sure you want to remove <%= @member.pretty_name %>'s membership? </h1>

<form method="post" action="/members/<%= @member.id %>/delete">
  <input class="btn btn--action" type="submit" value="Yes">
</form>
<br>
<br>
<form action="/members">
  <input class="btn btn--action" type="submit" value="No">
</form>
