<h1>Register a member!</h1>

<form action="/members" method="post">
  <label for="first-name-field">First Name:</label>
  <input
  type="text"
  name="first_name"
  id="first-name-field"
  />

<label for="second-name-field">Second Name:</label>
<input
type="text"
name="second_name"
id="second-name-field"
/>

<label for="age-field">Age</label>
<input
type="number"
name="age"
id="age-field"
/>

<input type="submit" value="Register new member">
</form>
