<h1>Register a member!</h1>

<form method="post" action="/members" >
  <label for="first-name-field">First Name:</label>
  <input
  type="text"
  name="first_name"
  id="first-name-field"
  required
  />

<label for="second-name-field">Second Name:</label>
<input
type="text"
name="second_name"
id="second-name-field"
required
/>

<label for="age-field">Age</label>
<input
type="number"
name="age"
id="age-field"
required
/>

<label>
Select Status:
  <select name="status">

    <option value="standard">Standard</option>
    <option value="premium">Premium</option>
      

  </select>
</label>

<input type="submit" value="Register new member">
</form>
