<h1>Members<%= @member.pretty_name %> (member)</h1>

<h3>Lessons</h3>

<ul>
  <% @member.lesson.each do |lesson| %>
  <li><%= lesson.title %></li>
  <% end %>
</ul>
<!--Want to list lesson day/time also  -->
