<h1> <%= @member.pretty_name %>'s Lessons</h1>

<h3>Lessons</h3>

<ul>
  <% @member.lessons.each do |lesson| %>
  <li><%= lesson.title %></li>
  <li><%= lesson.day_time %></li>
  <li><%= lesson.capacity %></li>
  <br>
  <% end %>
</ul>
