<h1> Are you sure you wish to delete this lesson? </h1>

<form method="post" action="/lessons/<%= @lesson.id %>/delete">
  <input class="btn btn--action" type="submit" value="Yes">
</form>
<br>
<br>
<form action="/lessons">
  <input class="btn btn--action" type="submit" value="No">
</form>
