<h2> Are you sure you want to delete <%= @lesson.title %>? </h2>

<form method="post" action="/lessons/<%= @lesson.id %>/delete">
  <input class="btn btn--action" type="submit" value="Yes">
</form>
<br>
<br>
<form action="/lessons">
  <input class="btn btn--action" type="submit" value="No">
</form>
