<h1>Lessons</h1>

<table>
  <tr>
    <th>Title</th>
    <th></th>
    <th>Day/Time</th>
  </tr>
  <% for lesson in @lessons %>
  <tr>
    <td><a href="/lessons/<%= lesson.id %>"><%= lesson.title %>></a></td>
    <td>|</td>
    <td><%= lesson.day_time %></td>
  </tr>
  <% end %>
</table>
