<h1>Create a lesson!</h1>

<form action="/lessons" method="post">
  <label for="title-field">Title:</label>
  <input
  type="text"
  name="title"
  id="title-field"
  />

<label for="day/time-field">Day/Time:</label>
<input
type="text"
name="day_time"
id="day/time-field"
/>

<!--Would like to enter a description label/input but does this need to be a property of the lesson class?  -->


<input type="submit" value="Create new lesson">
</form>
