<h2>Welcome to Paddy's Gym!</h2>

<p> To view members or register a new one got to the members page</p>
<br>
<br>
<p> To view lessons or add a new one visit the lessons page</p>
<br>
<br>
<p> To add a member to a lesson, register their booking on the booking page</p>
