<h2>Welcome to Paddy's Gym!</h2>

<p> To View/Edit Members or Register a New One go to the Members Page</p>
<br>
<p> To View/Edit Lessons or Add a New One Visit the Lessons Page</p>
<br>
<p> To Add a Member To a Lesson, Register Their Booking on The Booking Page</p>
