<h1> Are you sure you want to delete this booking? </h1>

<form method="post" action="/bookings/<%= @booking.id %>/delete">
  <input class="btn btn--action" type="submit" value="Yes">
  </form> 
<br>
<br>
<form action="/bookings">
  <input class="btn btn--action" type="submit" value="No">
</form>
