<h1> All Current Bookings</h1>

<table>
<tr>
<th>Name</th>
<th></th>
<th>Lesson</th>
<th></th>

</tr>
<% for booking in @bookings %>
<tr>
<td><a href="/bookings/<%= booking.id %>"><%= booking.members.pretty_name %></a></td>
<td>|</td>
<td><%= booking.lesson.title %></td>
<td>|</td>

</tr>
<% end %>
</table>

<form action="/bookings/new">
  <input class="btn btn--action" type="submit" value="Add Booking">
  </form>
