<h1>Book a lesson!</h1>

<form method="post" action="/bookings" >
  <label>
    Select a lesson:
    <select name="lesson_id">
      <% for lesson in @lessons %>
      <option value="<%= lesson.id %>"><%= lesson.title %></option>
      <% end %>
    </select>
  </label>
  </form>
<form action="/bookings">
  <input class="btn btn--action" type='submit' value="Book">
</form>
