<h1>Book a lesson!</h1>

<form action="/bookings" method="post">
  <label>
  Select a member:
    <select name="member_id">
      <% for member in @members %>
      <option value="<%= member.id %>"><%= member.pretty_name %></option>
      <% end %>
    </select>
  </label>

  <label>
    Select a lesson:
    <select name="lesson_id">
      <% for lesson in @lessons %>
      <option value="<%= lesson.id %>"><%= lesson.title %></option>
      <% end %>
    </select>
  </label>

  <input class="btn btn--action" type='submit' value="Booked!">
</form>
