

body {
  background: white url('/images/background.jpg');
  background-color: rgba(0, 0, 0, 0.5);
  background-repeat: no-repeat;
  color: black;
  font-family: serif;
  font-size: 30px;
  padding: 0px;
  margin: 0px;
  font-style: italic;
  text-shadow: white 0px 0px 10px;
}

h1 {
  color: green;
  font-family: fantasy;
  font-size: 60px;
  text-align: center;
}

h2 {
  margin-top: 150px;
  color: orange;
  font-size: 40px;
  text-align: left;
}

h3 {
  margin-top: 20px;
  color: orange;
  font-size: 40px;
  text-align: left;
}

p {
  font-size: 30px;
}


nav {
  list-style: none;
  font-weight: bold;
  margin-bottom: 10px;
  width: 100%;
  text-align: center;
}

li {
  font-size: 30px;
  color: orange;
}


nav ul {
  list-style-type: none;
  margin: 0px;
  padding: 0;
  text-decoration: none;
}

nav li {

  margin: 0px;
  display: inline;
}

nav li a {
  padding: 10px;
  text-decoration: none;
  font-weight: bold;
  font-family: fantasy;
  color: green;
  float: left;
}

nav li a:hover {
  background-color: orange;
}


ul {
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}

main {
  padding: 25px;
}

.flex {
  display: flex;
}

.flex--row {
  flex-direction: row;
}

#content {
  border-left: 1px solid black;
  padding-left: 25px;
}
